<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<!-- Configuracion ssl -->
		<add key="Soap:valida-ssl" value="false"/>
		<!-- Parametros Url EndPoint -->
		<add key="Endpoint:stev" value="https://servelec1.srcei.cl:8343/cgi-bin/AGP/WSAGP.cgi"/>
		<!--<add key="Endpoint:stev" value="https://desaws.srcei.cl:8343/cgi-bin/AGP/WSAGP.cgi"/>
	-->
		<add key="Endpoint:PPUDisponible" value="https://servelec1.srcei.cl:8343/cgi-bin/AGP/WSAGP.cgi" />
		<add key="Endpoint:SolicitudRVMI"   value="https://servelec1.srcei.cl:8343/cgi-bin/AGP/WSLEGALTEC.cgi"/>
		<add key="Endpoint:DocumentosPID" value="https://servelec1.srcei.cl:8343/cgi-bin/AGP/WSCARGADOCTO.cgi" />
		<add key="Endpoint:PIDLimiSpie" value="https://servelec1.srcei.cl:8343/cgi-bin/AGP/WSAGP.cgi" />
		<add key="Endpoint:PIDCrearSpie" value="https://servelec1.srcei.cl:8343/cgi-bin/AGP/WSAGP.cgi" />
		<add key="Endpoint:ConsultaLimit" value="https://servelec1.srcei.cl:8343/cgi-bin/AGP/WSAGP.cgi" />
		<add key="Endpoint:EstadoSolicitud" value="https://servelec1.srcei.cl:8343/cgi-bin/AGP/WSAGP.cgi" />

		<!--Parametros SOAPAction-->
		<add key="SOAPAction:AnotacionesVigentes" value=""/>
		<add key="SOAPAction:CertificadoTransferencia" value=""/>
		<add key="SOAPAction:DocumentosPID" value="urn:uploadwsdl#upload_file"/>
		<add key="SOAPAction:createStev" value=""/>
		<add key="SOAPAction:createLimitStev" value=""/>
		<!-- Timeout cliente HTTP-->
		<add key="segtimeout" value="1000000000"/>
		<!--Ruta del certificado digital PFX-->
		<add key="x509certificadoruta" value="/App_Data/certificado/Firma RM 2020.pfx"/>
		<!--SignatureValueCert es el token del certificado digital-->
		<add key="x509certificadopassword" value="agpsa2020"/>
		<!--Plantillas -->
		<add key="template:CCAV" value="/App_Data/stevrequest/CCAV.xml"/>
		<add key="template:ESOT" value="/App_Data/stevrequest/ESOT.xml"/>
		<add key="template:CSCERT" value="/App_Data/stevrequest/CSCERT.xml"/>
		<add key="template:CCD" value="/App_Data/stevrequest/CCD.xml"/>
		<add key="template:CSLIM" value="/App_Data/stevrequest/CSLIM.xml"/>
		<add key="template:CRSTV" value="/App_Data/stevrequest/CRSTV.xml"/>
		<add key="template:CRLIMSVT" value="/App_Data/stevrequest/CRLIMSVT.xml"/>
		<!--Nodos-->
		<add key="template:nodo:comprador" value="/App_Data/stevrequest/nodos/nodo-comprador.xml"/>
		<add key="template:nodo:re-ingreso" value="/App_Data/stevrequest/nodos/re-ingreso.xml"/>
		<add key="template:nodo:comunidad" value="/App_Data/stevrequest/nodos/nodo-comunidad.xml"/>
		<!--SOAP TRACE-->
		<!-- Habilitar trace 1, Deshabilitar 0-->
		<add key="SoapTrace" value="1"/>
		<add key="SoapTrace:PATH" value="/App_Data/soaptrace/"/>
		<add key="SoapTrace:NameBase" value="STEV-"/>
	</appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>